.paragraph {
    width: 90%;
    color: var(--accent);
    text-align: center;
    font-family: Nunito, sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    line-height: 1.7rem;
    letter-spacing: 0.3rem;
    transition: all 0.7s;
}