@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,900&display=swap');
.logo {
    font-size: 45px;
    font-style: italic;
    font-weight: 900;
    user-select: none;
    cursor: progress;
}